@page
@model OdeToFood.ClientRestaurantsModel
@{
    ViewData["Title"] = "Client Restaurants";
}

<h1>Client Restaurants</h1>

<table id="restaurants" class="table table-bordered">
    <thead>
    <tr>
        <th>Restaurant</th>
        <th>Location</th>
        <th>Cuisine</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts {
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <link href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <script>
        var cuisines = ["Unknown", "Mexican", "Italian", "Indian", "Japanese"];

        $(function () {
            $.ajax("/api/restaurants/",
                    { method: "get" })
                .then(function (response) {
                    $("#restaurants").dataTable({
                        data: response,
                        columns: [
                            { data: "name" },
                            { data: "location" },
                            {
                                data: "cuisine",
                                render: function(data) {
                                    return cuisines[data];
                                }
                            }
                        ]
                    });
                });
        });
    </script>
}